<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/">Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  </ul>

<% if logged_in? %>
    <span class="nav-link"><%= link_to "Le Club", static_pages_about_path %></span>
    <span class="nav-link"><%= link_to "Mon Profil", user_path(current_user) %></span>
    <span class="nav-link"><%= link_to "Se déconnecter", logout_path, method: :delete %></li></span>

<% else %>

    <div class="form-inline my-2 my-lg-0">
          <span class="nav-link" ><%= link_to "Se connecter", login_path %></span>
          <span class="nav-link" ><%= link_to "S'inscrire", signup_path %></span>
    </div>
<% end %>

  </div>
</nav>

  
    